/*ボタン設定*/
.container {
    /* margin-left: auto;
    margin-right: auto; */

    /* 新しいmargin記法、 
    margin-inline:40px 600px;*/
    width: 100%;
    aspect-ratio: 16/9;

    >.button {
        cursor: pointer;
        /* background:#6de7a8; */
        background: #fd0;

        /* 省略 */
        &:hover {
            scale: 1.1;
            opacity: 0.5;
        }
    }
}

/*すりガラス表現*/
.flex {
    display: flex;
    gap: 1rem;
}

.container2 {
    width: 400px;
    position: relative;
}

img {
    width: 400px;
}

.label {
    width: 100%;
    position: absolute;
    top: 25%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.backdrop {
    backdrop-filter: blur(3px);
}

.opacity {
    background: rgba(255, 255, 255, 0.4);
}

p {
    font-weight: bold;
    color: white;
    font-size: 1.4rem;
}
.container3{
    container-type: inline-size;
    border: solid;
}